/*Breakpoints*/
$mobile: "(max-width: 499px)";
$tablet: "(min-width: 499px) and (max-width: 1000px)";
$notebook: "(min-width: 1001px)";

/*Colors*/
$orange: #f26222;
$black: #333;
$black_active: #111111;