<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/style.css">
    <title>Responzivita</title>
</head>
<body>
    <div class="header">
        <h1>Responsive Design by Cody</h1>
    </div>
    <nav>
        <img src="images/logo.png" alt="logo">
        <a class="active" href="index.html">HOME</a>
        <a href="#">Site1</a>
        <a href="#">Site2</a>
    </nav>
    <div class="content">
        <div class="col-1">
            <ul class="meme_list">
                <li>Surprised Pikachu</li>
                <li>It's something</li>
                <li>What if I told you</li>
                <li>Confused Screaming</li>
            </ul>
        </div>
        <div class="col-4">
            
            <article>
                <section>
                    <p>Surprised Pikachu refers to a screenshot from the Pokémon anime of the character Pikachu with its mouth agape, as though it were surprised at something. In the autumn of 2018, the image was used as a reaction image paired with captions where a set-up leads to a predictable outcome that nevertheless leaves one surprised.</p>
                </section>
                <section>
                    <p>The post began spreading to other websites in the following days. It appeared on /r/MemeEconomy on September 30th, gaining 880 points.[2] It appeared on Facebook meme page Meme Extreme[3] on October 2nd, gaining over 3,900 likes and reactions and 4,000 shares. As October progressed, the image was paired with more captions. The format grew particularly popular on /r/me_irl. On October 14th, a post with the format gained over 3,900 points (shown below, left). On the 24th, a post edited to be blurry in order to make a point about the effects of prolonged computer use on eyesight gained over 6,200 points (shown below, right).
                        
                        
                        
                        me: I wonder what would happen if l post an upvote meme me_irl mods: ☆ban my account☆ me: Mle "spends &hours per day on interner Eyesight "gets worse
                        
                        The format also appeared on other subreddits and sites. A post on Game of Thrones subreddit /r/freefolk gained over 20,000 points (shown below, left). A tweet using the meme (shown below, right), gained over 42,000 points on /r/me_irl.[4]</p>
                    </section>
                </article>
         <img src="images/surprised pikachu.jpg" alt="404, fuck off, no pic for u">
        </div>
    </div>
    <footer>@Cody</footer>
</body>
</html>